<div *ngIf="isLoaded; else loader">
  <!-- <div> -->
  <app-header [gamesInfo]="response"></app-header>
  <app-navi [info]="response"></app-navi>

  <div class="container">
    <ui-view></ui-view>

    <!-- <app-list [gamesInfo]="response"></app-list> -->
  </div>

  <footer>
    <br />
    <br />
    <br />
    <br />
    <br />
  </footer>
</div>

<ng-template #loader>
  <mat-progress-spinner
    class="loader"
    color="primary"
    mode="indeterminate"
  ></mat-progress-spinner>
</ng-template>
